<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/shared.css">
    <link rel="stylesheet" href="/static/style.css">
    <title>MealLab</title>
</head>

<body>
    <header>
        <div id="page-logo">
            <a href="/">MealLab</a>
        </div>
        <nav>
            <ul>
                <li>
                    <a href="/">홈</a>
                </li>
                <li>
                    <a href="#">AI</a>
                </li>
                <li>
                    <a href="/templates/recipe">레시피</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="main-container-1">
            <div id="main-card">
                <h1>다양한 요리 레시피를 발견하세요</h1>
                <p>맛있는 요리를 위한 최고의 레시피를 여기서 찾으세요!</p>
                <a href="/templates/recipe">더 알아보기</a>
            </div>
        </section>
        <section id="main-container-2">
            <h2>추천 레시피</h2>
            <ul>
                    <li>
                        <img src="/static/images/highlights-1.png">
                        <h3><strong>건강한</strong> 레시피</h3>
                    </li>
                    <li>
                        <img src="/static/images/highlights-2.png">
                        <h3><strong>간편한</strong> 레시피</h3>
                    </li>
                    <li>
                        <img src="/static/images/highlights-3.png">
                        <h3><strong>AI</strong> 레시피</h3>
                    </li>
            </ul>
        </section>
        <footer id="contact">
            <p>&copy; 2024 맛있는 레시피. 모든 권리 보유.</p>
        </footer>
    </main>
</body>

</html>
